*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#0f172a;
color:white;

}

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:25px 10%;

position:fixed;
width:100%;
background:#08101f;

}

.logo{

font-size:32px;
font-weight:800;

}

.logo span{

color:#00d4ff;

}

nav a{

text-decoration:none;
color:white;
margin-left:30px;
font-weight:600;

}

.hero{

height:100vh;

display:flex;
align-items:center;
padding:0 10%;

background:linear-gradient(120deg,#0f172a,#132238);

}

.hero h1{

font-size:60px;

}

.hero h1 span{

color:#00d4ff;

}

.hero p{

margin:30px 0;
font-size:20px;
max-width:600px;

}

.btn{

display:inline-block;

background:#00d4ff;

color:black;

padding:15px 35px;

border-radius:40px;

font-weight:bold;

text-decoration:none;

transition:.4s;

}

.btn:hover{

transform:scale(1.05);

}

section{

padding:100px 10%;

}

section h2{

font-size:42px;

margin-bottom:30px;

color:#00d4ff;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

}

.card{

background:#18263d;

padding:30px;

border-radius:20px;

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

}

.fundadores{

display:flex;

flex-wrap:wrap;

gap:40px;

justify-content:center;

}

.fundador{

background:#18263d;

padding:30px;

border-radius:20px;

width:350px;

text-align:center;

}

.fundador img{

width:180px;

height:180px;

border-radius:50%;

object-fit:cover;

margin-bottom:20px;

border:5px solid #00d4ff;

}

.cta{

text-align:center;

background:#132238;

}

footer{

padding:40px;

text-align:center;

background:#08101f;

}

@media(max-width:900px){

.hero h1{

font-size:42px;

}

header{

flex-direction:column;

}

nav{

margin-top:20px;

}

}